{% extends "base.html.twig" %}

{% block body %}
<h2>El personaje con id {{id}} </h2>
<section>
    <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{character.name}}</h5>
          <p class="card-text">Descripción: {{character.description}}</p>
          <p class="card-text">Superpoder: {{character.superpower}}</p>
          <p class="card-text">Planeta: {{character.planet}}</p>
          <p class="card-text">Fecha de nacimiento: {{character.BirthDate|date("Y-m-d")}}</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    <ul>Debilidades:
        {% for weakness in character.weaknesses %}
        <li>{{weakness.name}}</li>
            
        {% endfor %}
    </ul>
</section>
{% endblock %}
{% block footer %}
<h2>Footer</h2>
{% endblock %}