{% extends "base.html.twig" %}

{% block body %}
{% for character in characters %}
<section>
    <h3>Nombre: {{character.name}}</h3>
    <p>Planeta: {{character.planet}}</p>
    <p>Superpoder: {{character.superpower}}</p>
    <p>Descripción: {{character.description}}</p>
    {% if character.BirthDate %}
    <p>Fecha de nacimiento: {{character.BirthDate|date("Y-m-d")}}</p>
    {% endif %}
    <a href="{{path('detailcharacter', {'id': character.id})}}">Más informacion</a>

</section>
{% endfor %}
{% endblock %}

{% block aside %}
<aside> <h2>Publicidad</h2> </aside>
{% endblock %}
